PORT=4000
MONGO_URL=mongodb://localhost:27017/YourShop-mern
JWT_SECRET = your_jwt_secret_key_nmkyuilfgvhgb

EMAIL_USER = tarunkumawat7007@gmail.com
EMAIL_PASS = icfo xqen pnbx zncy

CLOUDINARY_CLOUD_NAME = dnv598dvt
CLOUDINARY_API_KEY = 754583328686856
CLOUDINARY_API_SECRET = MhO8YsoEBnvK8FbkRPlg8Te4pvo